<div class="container">
    <h4>Things</h4>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Color Name</th>
            <th>Color</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let thing of things">
            <td style="text-align: left; width:30%"><a href="{{thing._links.self.href}}">{{thing.name}}</a></td>
            <td style="text-align: left; width:30%;">{{thing.color}}</td>
            <td style="text-align: left; width:40%;" [ngStyle]="{ 'background-color': thing.color }"></td>
        </tr>
        </tbody>
    </table>
</div>
